{% extends 'layouts/base.html' %}
{% load static %}
{% load is_favorited %}

{% block content %}

    <main id="pageWrapper">
        <div class="banner bg-song"></div>
        <div class="main-container">
            <div class="row section text-center text-md-left">
                <div class="col-xl-3 col-lg-4 col-sm-5">
                    <img src="{{ song.thumbnail.url }}" alt="" class="card-img--radius-lg">
                </div>
                <div class="col-xl-9 col-lg-8 col-sm-7">
                    <div class="row pt-4">
                        <div class="col-xl-8 col-lg-6">
                            <h5>{{ song.title }}</h5>
                            <p>{{ song.artists.0.name }}</p>
                            <div class="text-warning stars">
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star"></i>
                                <i class="la la-star-half-empty"></i>
                            </div>
                            {% if song.type == 'free' %}
                                <span class="badge badge-pill badge-primary mt-3">Free</span>
                            {% else %}
                                <span class="badge badge-pill badge-warning mt-3">Premium</span>
                            {% endif %}
                            <div class="mt-4">
                                <a href="javascript:void(0);"
                                   class="btn btn-pill btn-air btn-bold btn-danger"
                                   id="play-pause"
                                   data-audio='{"name": "{{ song.title }}", "artist": "{{ song.artists.0.name }}", "album": "", "url": "{{ song.song.url }}", "cover_art_url": "{{ song.thumbnail.url }}"}'>
                                    Play
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <div class="pt-3 pt-lg-0 text-lg-right">
                                {% is_favorited song request.user as favorited %}
                                <button class="btn btn-pill btn-air btn-danger btn-icon-only" id="btn-favorite" data-decision="{{ favorited }}" data-url="{% url 'core:song-favorite' %}" data-song-id="{{ song.id }}" data-user="{{ request.user }}">
                                    {% if favorited == 'remove' and request.user.is_authenticated %}
                                        <i class="la la-heart"></i>
                                    {% else %}
                                        <i class="la la-heart-o"></i>
                                    {% endif %}
                                </button>
                                <button class="btn btn-pill btn-air btn-warning btn-icon-only" id="btn-playlist">
                                    <i class="la la-plus"></i>
                                </button>
                                <a class="btn btn-pill btn-air btn-success btn-icon-only" href="#">
                                    <i class="la la-download" style="margin-top: 10px; color: #fff"></i>
                                </a>
                                <button class="btn btn-pill btn-air btn-brand btn-icon-only" data-toggle="modal" data-target="#shareModal">
                                    <i class="la la-share-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div id="waveform-load"></div>
                <div id="waveform"></div>
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </main>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@5.0.2/dist/amplitude.min.js"></script>
    <script src="{% static 'js/wavesurfer.min.js' %}"></script>
    <script type="text/javascript">

        let favorite_btn = $('#btn-favorite');

        favorite_btn.on('click', function () {
            let user = $(this).data('user');

            if (user) {

                let song_id = $(this).data('song-id');
                let decision = $(this).data('decision');

                $.ajaxSetup({
                    headers: {
                        'X-CSRFToken': csrfmiddlewaretoken
                    }
                });

                $.ajax({
                    type: 'POST',
                    url: $(this).data('url'),
                    data: {
                        song_id,
                        decision,
                    },
                    dataType: 'json',
                    success: function (res) {
                        if (res.status === true) {
                            if (decision === 'make') {
                                favorite_btn.attr('data-decision', 'remove');
                                favorite_btn.find('i.la-heart-o').removeClass('la-heart-o').addClass('la-heart');
                            } else {
                                favorite_btn.attr('data-decision', 'make');
                                favorite_btn.find('i.la-heart').removeClass('la-heart').addClass('la-heart-o');
                            }
                            toastr.options = {
                                "positionClass": "toast-bottom-right",
                            };
                            toastr.success(res.message);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                toastr.options = {
                    "positionClass": "toast-bottom-right",
                };
                toastr.warning('Please login to continue');
            }
        });

        Amplitude.init({
            "songs": [{
                name: "{{ song.title }}",
                artist: "Arebica Luna",
                album: "Mummy",
                url: "{{ song.song.url }}",
                cover_art_url: "{{ song.thumbnail.url }}"
            }],
            "bindings": {
                32: 'play_pause'
            },
            "callbacks": {
                'play': function () {
                    wavesurfer.play();
                    wavesurfer.setCurrentTime(Amplitude.getSongPlayedSeconds());
                },
                'timeupdate': function () {
                    wavesurfer.setCurrentTime(Amplitude.getSongPlayedSeconds());
                },
                'seeked': function () {
                    wavesurfer.setCurrentTime(Amplitude.getSongPlayedSeconds());
                },
                'pause': function () {
                    wavesurfer.setCurrentTime(Amplitude.getSongPlayedSeconds());
                    wavesurfer.pause();
                }
            }
        });

        window.onkeydown = function (e) {
            return !(e.keyCode === 32);
        };

        document.getElementById('song-played-progress').addEventListener('click', function (e) {
            let offset = this.getBoundingClientRect();
            let x = e.pageX - offset.left;

            Amplitude.setSongPlayedPercentage((parseFloat(x) / parseFloat(this.offsetWidth)) * 100);
        });

        let wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: '#733ce6',
            progressColor: '#bfbfbf',
            height: 150,
            scrollParent: false,
            responsive: true,
        });

        wavesurfer.on('loading', function (integer) {
            $('#waveform-load').html("Generating waves.. (" + integer + '%)');
        });

        wavesurfer.on('ready', function (percents) {
            wavesurfer.setVolume(0);
            $('#waveform-load').empty();
        });

        $("a[data-audio]").on("click", function () {
            $('#audioPlayer').css('visibility', 'visible');
            if ($(this).text().trim() === 'Play') {
                $('.amplitude-play-pause').addClass('amplitude-playing').removeClass('amplitude-paused');
                $(this).text('Pause');
            } else {
                $('.amplitude-play-pause').removeClass('amplitude-playing').addClass('amplitude-paused');
                $(this).text('Play');
            }

            if ($('.amplitude-play-pause').hasClass('amplitude-playing')) {
                Amplitude.play();
            } else {
                Amplitude.pause();
            }
        });

        wavesurfer.on('seek', function (seeks) {
        });

        wavesurfer.load('{{ song.song.url }}');

        $('.amplitude-play-pause').on('click', function () {
            if ($(this).hasClass('amplitude-playing')) {
                Amplitude.play();
                $('#play-pause').text('Pause');
            } else {
                Amplitude.pause();
                $('#play-pause').text('Play');
            }
        });

        let volumeIconClick = function () {

            $(document).on("click", ".volume-dropdown-menu", function (s) {
                s.stopPropagation();
            });

            let s = $('.audio-volume input[type="range"]'), t = $(".audio-volume .btn");
            s.on("change", function () {
                let s = $(this), e = parseInt(s.val(), 10);
                0 === e ? t.html('<i class="ion-md-volume-mute"></i>') : e > 0 && e < 70 ? t.html('<i class="ion-md-volume-low"></i>') : e > 70 && t.html('<i class="ion-md-volume-high"></i>')
            })
        };

        volumeIconClick();
    </script>

{% endblock %}